body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.navbar {
	height: 60px;
}

.main-section {
	margin-top: 60px;
	height: 100vh;
}
